* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:"Gentium Book Plus", Arial, Helvetica, sans-serif;
    background-color: #fcf7f6;

}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /* height: 100%; */
}